.outer-main {
  background-color: #f7fafc;
}
.main {
  width: 35%;
  background-color: #f7fafc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 45px;
}

.main h2 {
  font-weight: bolder;
  text-align: center;
}

.main p {
  text-align: center;
}

.form-div {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #eceff0;
  padding-bottom: 10px;
}

.form-group {
  padding-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  align-items: flex-start;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.btn-signin {
  background-color: #4299e1;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn {
  color: white;
  font-weight: 600;
}

.btn:hover {
  color: white;
}

.form-group a {
  text-decoration: none;
  color: #2b6cb0;
  font-weight: bold;
}
